{% extends 'main/base.html' %}

{% block title %}
Створити запис
{% endblock %}

{% block content %}
    <h1>Створити запис</h1>
    <form method="post">
        {% csrf_token %} <!-- токен для отправки запроса -->
        {{ form.title }}<br>
        {{ form.task }}<br>
<!--        <input type="text" placeholder="Введіть назву" class="form-control"><br>-->
<!--        <textarea placeholder="Введіть опис" class="form-control"></textarea><br>-->
        <button type="submit" class="btn btn-success">Добавити</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}